/* --xl-font: 3rem;
   --lg-font: 2.5rem;
   --md-font: 2rem;
   --sm-font: 1.8rem;
   --xs-font: 1.6rem; */
html {
  font-size: 62.5%;
}

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.plain-text {
  margin: 0 0 3rem 0;
}

.divider {
  margin: 4rem 0 0rem 0;
  padding: 0;
}

/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline: 0.5rem solid blue;
  outline-offset: 1.5rem;
}

* {
  box-sizing: border-box;
}
*::placeholder {
  color: lightgray;
}

body {
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about {
  background: rgba(181, 181, 181, 0.208);
  padding: 3rem;
  text-align: center;
  padding-bottom: 10rem;
}
.about-heading {
  font-size: clamp(2rem, 3vw, 3.5rem);
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(#ec672d, #e44d07);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}
.about-heading:hover {
  transform: skewY(2deg) skewX(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.185);
}
.about-row {
  display: flex;
}
.about-row .tertiary-heading {
  font-size: clamp(2rem, 2vw, 2.2rem);
  font-weight: bold;
  margin: 0;
}
.about-row-block {
  text-align: justify;
  padding: 0 4rem;
  margin: 2rem 0;
  width: 50%;
}

@media (max-width: 900px) {
  .about {
    background: rgba(181, 181, 181, 0.208);
    padding: 1rem;
    text-align: center;
  }
  .about-row-block {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
  }
  .about-row-block:last-child {
    display: none;
  }
}
/* Hero section animation */
@keyframes moveIn {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes handly {
  0% {
    top: -6rem;
    right: -6rem;
  }
  50% {
    top: -3rem;
    right: -3rem;
  }
  100% {
    top: -6rem;
    right: -6rem;
  }
}
/* Hero section buttons */
.header-hero-btn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
  background: #2f4858;
  font-weight: bold;
  display: inline-block;
  margin: 0.5rem;
}
.header-hero-btn:hover {
  transform: scale(1.1);
  box-shadow: 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.227);
}
.header-hero-btn:active {
  transform: scale(0.98);
}
.header-hero-btn:last-child {
  padding: 0.5rem 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: #de4b64;
  background: transparent;
  border: 0.1rem solid #2f4858;
}
.header-hero-btn:last-child:hover {
  background-color: #de4b64;
  color: white;
}

.about-row-btn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.4rem 0.7rem;
  display: inline-block;
  background-color: #2f4858;
}
.about-row-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26);
}
.about-row-btn:active {
  transform: scale(0.98);
}

.features-row-feature-btn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border-radius: 0.5rem;
  color: white;
  background: #2f4858;
  padding: 0.5rem 2rem;
}

.terms-btn {
  display: block;
  font-style: italic;
  width: max-content;
  color: black;
}
.terms-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  background-color: #2f4858;
  color: white;
}
.submit-btn:hover {
  background-color: #416379;
}

.about-row-block-collage {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 30rem;
}
.about-row-block-collage-picture {
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.308);
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
}
.about-row-block-collage-picture:nth-child(1) {
  top: 1%;
  left: 5%;
}
.about-row-block-collage-picture:nth-child(2) {
  right: 5%;
  top: 15%;
}
.about-row-block-collage-picture:nth-child(3) {
  top: 40%;
  left: 20%;
}
.about-row-block-collage-picture:hover {
  transform: scale(1.03);
  z-index: 9;
}

.about-row-block-collage:hover .about-row-block-collage-picture:not(:hover) {
  transform: scale(0.95) translateY(-0.5rem);
  filter: blur(2px);
}

.register {
  background: rgba(181, 181, 181, 0.208);
  padding: 3rem;
  text-align: center;
}
.register-header {
  width: 100%;
}
.register-header-title {
  font-size: clamp(2rem, 3vw, 3.5rem);
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(#ec672d, #e44d07);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}
.register-main {
  display: flex;
  margin-top: 5rem;
  padding: 0 4rem;
}
.register-main-explanation {
  text-align: justify;
}
.register-main-explanation-heading {
  font-size: clamp(1.8rem, 2vw, 3rem);
  margin: 0;
}
.register-main-explanation-heading span {
  color: #2f4858;
}
.register-main-profile {
  min-width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.register-main-profile-btn {
  width: 200px;
  height: 60px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #ec672d;
  color: white;
  text-transform: uppercase;
  position: relative;
}
.register-main-profile-btn .hand {
  position: absolute;
  font-size: clamp(1.8rem, 3vw, 4rem);
  transform: rotate(-50deg);
  animation-duration: 2s;
  animation-name: handly;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.features {
  background: rgba(181, 181, 181, 0.208);
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(rgba(236, 102, 45, 0.5), hsla(350, 69%, 58%, 0.5)), url(../images/people-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
}
.features-row {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-around;
  transform: skewY(-5deg);
}
.features-row-feature {
  background-color: rgba(255, 255, 255, 0.863);
  width: 300px;
  border-radius: 3px;
  padding: 1rem 1.5rem;
  height: 310px;
  margin: 0 1rem;
  color: #2f4858;
  transition: all 0.4s ease;
  transform: skewY(5deg);
}
.features-row-feature-icon {
  width: 100%;
  display: block;
  margin: 2rem 0;
}
.features-row-feature-icon i {
  font-size: clamp(2rem, 4vw, 5rem);
  color: #2f4858;
}
.features-row-feature:hover {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.363);
  transform: translateY(-5px) skewY(5deg);
}

.profile {
  padding: 5rem 0;
  max-width: 99%;
  margin: 0 auto;
}
.profile-title {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  color: #2f4858;
}
.profile-form {
  width: 600px;
  max-width: 99%;
  margin: 4rem auto;
}
.profile-form fieldset:nth-child(1) {
  height: 760px;
  margin-bottom: 2rem;
}
.profile-form fieldset:nth-child(2) {
  height: 120px;
  margin-bottom: 2rem;
}
.profile-form fieldset {
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 3px;
  max-width: 100%;
}
.profile-form fieldset legend {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: #2f4858;
  padding: 0 2rem;
}
.profile-form fieldset .profile-form-row {
  display: flex;
  height: 30px;
}
.profile-form fieldset .profile-form-row label {
  min-width: 110px;
  text-align: right;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}
.profile-form fieldset .profile-form-row label .star {
  color: red;
  font-weight: bold;
  margin-left: 0.4rem;
}
.profile-form fieldset .profile-form-row input {
  width: 100%;
  background: rgba(128, 128, 128, 0.055);
  border: none;
  vertical-align: middle;
  padding: 0 0.5rem;
}
.profile-form fieldset .profile-form-row textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem 1rem;
  height: 100px;
}
.profile-form fieldset .profile-form-row select {
  width: 100%;
}
.profile-form fieldset .profile-form-row:not(:last-child) {
  margin-bottom: 2rem;
}

.profile-form-row-interests {
  display: flex;
}
.profile-form-row-interests .title-label {
  min-width: 110px;
  text-align: right;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}
.profile-form-row-interests-options label {
  flex-wrap: wrap;
  margin-right: 1rem;
}

.info {
  max-width: 90%;
  margin: 0 auto;
  color: white;
  margin-top: -8rem;
  position: relative;
  border-radius: 5px 0px 5px 0;
  padding: 5rem 0 1rem 0;
}
.info-main {
  display: flex;
  background: #ec672d;
  align-items: center;
}
.info-main-hero {
  padding: 3rem;
  min-width: fit-content;
}
.info-main-hero-title {
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 0;
  margin: 0;
}
.info-main-text {
  padding: 3rem;
  letter-spacing: 1px;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.info-tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.info-tabs-tab {
  color: #2f4858;
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
}
.info-tabs-tab i {
  margin-right: 2rem;
  font-size: clamp(2rem, 4vw, 4rem);
}

.main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;
}

.header {
  height: 80vh;
  max-width: 3000px;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, rgba(236, 102, 45, 0.3), hsla(350, 69%, 58%, 0.3)), url(../images/hero-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header-logo-svg {
  height: 3.5rem;
}
.header-hero {
  position: absolute;
  top: 45%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 45rem;
  max-width: 90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.744);
  animation: moveIn 0.3s ease-in;
}
.header-hero-title {
  color: #2f4858;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2rem, 4vw, 3rem);
  letter-spacing: 0.8rem;
  margin-right: -1rem;
  display: block;
}
.header-hero-title span {
  display: block;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  letter-spacing: normal;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.header-profile {
  background-image: url(../images/people-3-large.jpg);
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center 40%;
  background-size: cover;
}

.terms {
  width: 700px;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
}
