// Desktop
@mixin mainContainer {
  background: rgba(181, 181, 181, 0.208);
  padding: 3rem;
  text-align: center;
}

// mobile
@mixin mainContainerMobile {
  background: rgba(181, 181, 181, 0.208);
  padding: 1rem;
  text-align: center;
}

@mixin mainRow {
  display: flex;
}

// For text blocks with plain text like terms and conditions, info, etc
@mixin easyBlocks {
  width: 700px;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
}

@mixin primaryHeading {
  font-size: clamp(2rem, 3vw, 3.5rem);
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient($primary-color, $primary-dark-color);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

@mixin secondaryHeading {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  color: $quaternary-color;
}

@mixin tertiaryheading {
  font-size: clamp(2rem, 2vw, 2.2rem);
  font-weight: bold;
  margin: 0;
}

@mixin resetBtn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border-radius: 0.5rem;
}
