.nav {
  position: absolute;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 1rem;

  a {
    color: white;
    margin: 0 1rem;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      color: darken(white, 20%);
    }
  }

  &-desktop {
    display: flex;
    align-items: center;

    &-ul {
      display: flex;
      li {
        a {
          font-size: clamp(2rem, 3vw, 2rem);
        }
      }
    }

    .qr {
      position: relative;

      &:hover img {
        transform: translateY(30px);
        opacity: 1;
        visibility: visible;
      }

      img {
        position: absolute;
        right: 10px;
        width: 150px;
        transform: translateY(100px);
        transition: all 0.3s ease;
        border-radius: 15px;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &-mobile {
    height: 100vh;
    right: 0;
    transform: translatex(290px);
    position: fixed;
    margin-top: 0.5rem;
    top: 0;
    transition: transform 0.2s ease-in-out;
    z-index: 99;
    background: $quaternary-color;
    max-width: 290px;
    min-width: 270px;
    width: 30%;
    text-transform: uppercase;

    .qrMobile {
      img {
        width: 50%;
        margin-top: 0.5rem;
      }
    }

    &-ul {
      display: block;

      li {
        margin: 2rem 0;
        text-align: center;

        a {
          color: white;
        }
      }
    }

    &-social {
      text-align: center;
      a {
        margin: 0 1rem;
      }
    }
  }

  //   Open and close icon
  .nav-btn-icon {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
    padding: 0;
    opacity: 0;
    font-size: 3rem;
  }
}

@media (max-width: 720px) {
  .nav-desktop {
    display: none;
  }

  #nav-btn--close,
  #nav-btn--open {
    display: block;
    opacity: 1;
  }
}

//
.nav-mobile.active {
  display: block;
  visibility: visible;
  transform: translatex(0);
}

#nav-btn--close {
  margin: 2rem 0 0 1.5rem;
}
