.header-nav {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: absolute;
  width: 100%;
  font-size: clamp(1.6rem, 2vw, 2rem);

  .header-logo {
    img {
      width: 150px;
    }
  }

  .header-nav-list-desktop {
    display: flex;

    .header-nav-list-item {
      margin-left: 3rem;

      a {
        transition: 0.2s ease;
        color: white;
        &:hover {
          color: darken(white, 20%);
        }
      }
    }

    .qr {
      position: relative;

      .qr-image {
        width: 150px;
        position: absolute;
        top: 30px;
        right: -20px;
        border-radius: 15px;
        height: 150px;
        visibility: hidden;
        transition: 0.4s ease;
      }

      &:hover .qr-image {
        visibility: visible;
        transition: 0.4s ease;
      }
    }
  }

  // mobile
  &-mobile {
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50px;
  }
}
