.about {
  @include mainContainer;
  padding-bottom: 10rem;

  &-heading {
    @include primaryHeading;

    &:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.185);
      transform: skewY(2deg) skewX(2deg) scale(1.1);
    }
  }

  &-row {
    @include mainRow;

    .tertiary-heading {
      @include tertiaryheading;
    }

    &-block {
      margin: 2rem 0;
      padding: 0 4rem;
      text-align: justify;
      width: 50%;
    }
  }
}

// responsive
@media (max-width: 900px) {
  .about {
    @include mainContainerMobile;

    &-row {
      &-block {
        padding: 0 2rem;
        text-align: center;
        width: 100%;
      }
      &-block:last-child {
        display: none;
      }
    }
  }
}
