.about {
  .about-heading {
    font-size: clamp(2rem, 3vw, 3.5rem);
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(
      to right,
      $primary-color,
      $secondary-color
    );
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    margin-bottom: 3rem;

    &:hover {
      transform: skewY(2deg) skewX(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.185);
    }
  }
  .section-row {
    padding-bottom: 10rem;
  }
  .section-row-block {
    width: 50%;

    .about-tertiary-heading {
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      font-weight: bold;
      margin: 0;
    }
  }
}
