.about {
  @include mainContainer;
  padding-bottom: 10rem;

  &-heading {
    @include primaryHeading;

    &:hover {
      transform: skewY(2deg) skewX(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.185);
    }
  }

  &-row {
    @include mainRow;

    .tertiary-heading {
      @include tertiaryheading;
    }

    &-block {
      text-align: justify;
      padding: 0 4rem;
      margin: 2rem 0;
      width: 50%;
    }
  }
}
