/* Hero section animation */
@keyframes moveIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Hand animation on registration form
@keyframes handly {
  0% {
    right: -6rem;
    top: -6rem;
  }

  50% {
    right: -3rem;
    top: -3rem;
  }

  100% {
    right: -6rem;
    top: -6rem;
  }
}
