/* Hero section buttons */
.header-center-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
  background: $quaternary-color;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.5rem;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.227);
  }

  &:active {
    transform: scale(0.98);
  }

  &:last-child {
    padding: 0.5rem 1.5rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: $secondary-color;
    background: transparent;
    border: 0.1rem solid $quaternary-color;
    transition: 0.3s;
  }

  &:last-child:hover {
    background-color: $secondary-color;
    color: white;
    transition: 0.3s;
  }
}

// About button
.main-section-row-btn {
  color: $quaternary-color;
  font-weight: bold;
  padding: 0.4rem 0.7rem;
  border-bottom: 2px solid $quaternary-color;
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    background-color: $quaternary-color;
    color: white;
    border-bottom: none;
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26);
  }

  &:active {
    transform: scale(0.98);
  }
}
