/* Hero section buttons */
.header-hero-btn {
  @include resetBtn;
  background: $quaternary-color;
  color: white;
  display: inline-block;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;

  &:hover {
    box-shadow: 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.227);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.98);
  }

  &:last-child {
    background: transparent;
    border: 0.1rem solid $quaternary-color;
    color: $secondary-color;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 0.5rem 1.5rem;
  }

  &:last-child:hover {
    background-color: $secondary-color;
    color: white;
  }
}

// About button
.about-row-btn {
  @include resetBtn;
  background-color: $quaternary-color;
  color: white;
  display: inline-block;
  padding: 0.4rem 0.7rem;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26);
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.98);
  }
}

// features btn
.features-row-feature-btn {
  @include resetBtn;
  background: $quaternary-color;
  color: white;
  padding: 0.5rem 2rem;
}

// Terms and conditions button
.terms-btn {
  color: black;
  display: block;
  font-style: italic;
  width: max-content;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

//submit create profile btn
.submit-btn {
  background-color: $quaternary-color;
  color: white;
  padding: 1rem;
  width: 100%;

  &:hover {
    background-color: lighten($quaternary-color, 10%);
  }
}

// Read stories btn
.testimonials-btn {
  @include resetBtn;
  background: $quaternary-color;
  color: white;
  padding: 0.5rem 2rem;
}
