/* Hero section buttons */
.header-hero-btn {
  @include resetBtn;
  padding: 0.5rem 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
  background: $quaternary-color;
  font-weight: bold;

  display: inline-block;
  margin: 0.5rem;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.227);
  }

  &:active {
    transform: scale(0.98);
  }

  &:last-child {
    padding: 0.5rem 1.5rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: $secondary-color;
    background: transparent;
    border: 0.1rem solid $quaternary-color;
  }

  &:last-child:hover {
    background-color: $secondary-color;
    color: white;
  }
}

// About button
.about-row-btn {
  @include resetBtn;
  color: white;
  padding: 0.4rem 0.7rem;
  display: inline-block;
  background-color: $quaternary-color;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26);
  }

  &:active {
    transform: scale(0.98);
  }
}

// features btn
.features-row-feature-btn {
  @include resetBtn;
  color: white;
  background: $quaternary-color;
  padding: 0.5rem 2rem;
}

// Terms and conditions button
.terms-btn {
  display: block;
  font-style: italic;
  width: max-content;
  color: black;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

//submit create profile btn
.submit-btn {
  width: 100%;
  padding: 1rem;
  background-color: $quaternary-color;
  color: white;

  &:hover {
    background-color: lighten($quaternary-color, 10%);
  }
}

// Read stories btn
.testimonials-btn {
  @include resetBtn;
  color: white;
  background: $quaternary-color;
  padding: 0.5rem 2rem;
}

// open menu
.header-nav-mobile--openNav i {
  background: red;
}
