.section-row-block-collage {
  margin: 0 auto;
  text-align: center;
  position: relative;

  height: 30rem;

  &-picture {
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.308);
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;

    &:nth-child(1) {
      top: 1%;
      left: 5%;
    }

    &:nth-child(2) {
      right: 5%;
      top: 15%;
    }

    &:nth-child(3) {
      top: 40%;
      left: 20%;
    }

    &:hover {
      transform: scale(1.03);

      z-index: 9;
    }
  }
}

.section-row-block-collage:hover
  .section-row-block-collage-picture:not(:hover) {
  transform: scale(0.95) translateY(-0.5rem);
  filter: blur(2px);
}
