.about-row-block-collage {
  height: 30rem;
  margin: 0 auto;
  position: relative;
  text-align: center;

  &-picture {
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.308);
    cursor: pointer;
    position: absolute;
    transition: all 0.2s;
    width: 50%;

    &:nth-child(1) {
      left: 5%;
      top: 1%;
    }

    &:nth-child(2) {
      right: 5%;
      top: 15%;
    }

    &:nth-child(3) {
      left: 20%;
      top: 40%;
    }

    &:hover {
      transform: scale(1.03);
      z-index: 9;
    }
  }
}

.about-row-block-collage:hover .about-row-block-collage-picture:not(:hover) {
  transform: scale(0.95) translateY(-0.5rem);
  filter: blur(2px);
}
