.register {
  @include mainContainer;
  &-header {
    width: 100%;

    &-title {
      @include primaryHeading;
    }
  }

  &-main {
    display: flex;
    margin-top: 5rem;
    padding: 0 4rem;

    &-explanation {
      text-align: justify;

      &-heading {
        font-size: clamp(1.8rem, 2vw, 3rem);
        margin: 0;

        span {
          color: $quaternary-color;
        }
      }
    }

    &-profile {
      min-width: 40%;
      align-items: center;
      justify-content: center;
      display: flex;

      &-btn {
        width: 200px;
        height: 60px;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        display: flex;
        background: $primary-color;
        color: white;
        text-transform: uppercase;
        position: relative;

        .hand {
          position: absolute;
          font-size: clamp(1.8rem, 3vw, 4rem);
          transform: rotate(-50deg);
          animation-duration: 2s;
          animation-name: handly;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .register {
    &-main {
      flex-direction: column;
      padding: 0.5rem;
    }
  }
}
