.features {
  @include mainContainer;

  background-image: linear-gradient(
      rgba(236, 102, 45, 0.5),
      hsla(350, 69%, 58%, 0.5)
    ),
    url(../images/people-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;

  &-row {
    @include mainRow;
    margin: 0 auto;
    max-width: 1200px;

    justify-content: space-around;
    transform: skewY(-5deg);

    &-feature {
      background-color: rgba(255, 255, 255, 0.863);
      border-radius: 3px;
      color: $quaternary-color;
      height: 310px;
      margin: 0 1rem;
      padding: 1rem 1.5rem;
      transform: skewY(5deg);
      transition: all 0.4s ease;
      width: 300px;

      &-icon {
        display: block;
        margin: 2rem 0;
        width: 100%;

        i {
          color: $quaternary-color;
          font-size: clamp(3rem, 4vw, 5rem);
        }
      }

      &:hover {
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.363);
        transform: translateY(-5px) skewY(5deg);
      }
    }
  }
}

// responsive
@media (max-width: 700px) {
  .features {
    padding: 5rem 0;
    &-row {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transform: skewY(0);

      &-feature {
        height: max-content;
        margin: 1rem 0;
        padding: 3rem 1rem;
        transform: skew(0);
        width: 85%;

        &-icon {
          margin: 0;
        }

        h3 {
          margin: 0.5rem;
        }

        .plain-text {
          margin: 1rem 0 1.5rem 0;
        }
      }
    }
  }
}
