// Profile form
.profile {
  margin: 0 auto;
  max-width: 99%;
  padding: 5rem 0;

  &-title {
    @include secondaryHeading;
  }

  &-form {
    margin: 4rem auto;
    max-width: 99%;
    width: 600px;

    //adding height only the first fieldset
    fieldset:nth-child(1) {
      height: 760px;
      margin-bottom: 2rem;
    }

    fieldset:nth-child(2) {
      height: 120px;
      margin-bottom: 2rem;
    }

    fieldset {
      border: 1px solid rgba(128, 128, 128, 0.233);
      border-radius: 3px;
      max-width: 100%;

      legend {
        font-size: clamp(2rem, 3vw, 2.5rem);
        color: $quaternary-color;
        padding: 0 2rem;
      }

      .profile-form-row {
        display: flex;
        height: 30px;

        label {
          align-items: center;
          display: flex;
          font-size: clamp(1.4rem, 2vw, 1.6rem);
          justify-content: flex-end;
          margin-right: 1rem;
          min-width: 110px;
          text-align: right;

          .star {
            color: red;
            font-weight: bold;
            margin-left: 0.4rem;
          }
        }

        input {
          width: 100%;
          background: rgba(128, 128, 128, 0.055);
          border: none;
          vertical-align: middle;
          padding: 0 0.5rem;
        }

        textarea {
          height: 100px;
          padding: 0.5rem 1rem;
          resize: none;
          width: 100%;
        }

        select {
          width: 100%;
        }
      }

      .profile-form-row:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

// Styles for the intereset section with multiple choices
.profile-form-row-interests {
  display: flex;

  .title-label {
    align-items: center;
    display: flex;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    justify-content: flex-end;
    margin-right: 1rem;
    min-width: 110px;
    text-align: right;
  }

  &-options {
    label {
      flex-wrap: wrap;
      margin-right: 1rem;
    }
  }
}
