#button-up {
  align-items: center;
  background-color: $quaternary-color;
  border-radius: 50%;
  border: 3px solid $quaternary-color;
  bottom: 50px;
  color: $primary-color;
  cursor: pointer;
  display: flex;
  font-size: 5rem;
  justify-content: center;
  position: fixed;
  right: 50px;
  transition: all 0.4s ease;

  i {
    transition: all 0.4s ease;
  }

  i:hover {
    transform: translateY(-12px);
  }
}

@media (max-width: 720px) {
  #button-up {
    font-size: 3rem;
    right: 3rem;

    i {
    }

    i:hover {
      transform: translateY(-8px);
    }
  }
}
