.info {
  border-radius: 5px 0px 5px 0;
  color: white;

  margin: 0 auto;
  margin-top: -8rem;
  max-width: 90%;
  padding: 5rem 0 1rem 0;
  position: relative;

  &-main {
    align-items: center;
    background: $primary-color;
    display: flex;
    &-hero {
      min-width: fit-content;
      padding: 3rem;

      .secondary-heading {
        font-size: clamp(3rem, 3vw, 3.5rem);
        font-weight: bold;
      }
    }

    .plain-text {
      align-items: center;
      font-size: clamp(1.5rem, 2vw, 2rem);
      letter-spacing: 1px;
      margin: 0;
      padding: 0 1rem;
      text-align: justify;
    }
  }

  &-tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &-tab {
      align-items: center;
      color: $quaternary-color;
      display: flex;
      justify-content: center;
      width: 25%;

      i {
        font-size: clamp(1.2rem, 4vw, 4rem);
        margin-right: 1rem;
      }
    }
  }
}

// Responsive

@media (max-width: 900px) {
  .info {
    &-tabs {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .info {
    &-main {
      flex-direction: column;

      &-hero {
        padding: 0;

        .secondary-heading {
          margin: 1rem;
        }
      }

      .plain-text {
        padding: 2rem;
        text-align: center;
      }
    }
  }
}
