.testimonials {
  padding: 5rem 0;
  position: relative;

  &-title {
    @include primaryHeading;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    width: 1210px;
    max-width: 99%;
    margin: 0 auto;
    align-items: center;

    .slideshow {
      overflow: hidden;
      margin: 0 2rem;

      .testimonials-box-row {
        display: flex;
        transition: all 0.3s ease-in-out;
        max-width: 100%;
      }
    }

    .testimonials-shape {
      min-width: 360px;
      border: 1px solid rgba(128, 128, 128, 0.445);
      background: rgba(255, 255, 255, 0.568);
      border-radius: 3px;
      height: auto;

      padding: 1rem;
      padding-left: 4rem;
      margin-right: 1.2rem;
      position: relative;
      transition: 0.3s;

      &-circle {
        float: left;
        shape-outside: circle(50% at 50% 50%);
        width: 10rem;
        height: 10rem;
        margin: 0;
        padding: 0;
        transform: translateX(-2rem);
        clip-path: circle(50% at 50% 50%);

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &-text {
        height: 160px;

        h3 {
          margin: 0;
        }
      }
    }

    .arrows {
      font-size: 3rem;
      opacity: 50%;
      color: $quaternary-color;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.4);
        opacity: 100%;
      }
    }
  }
}

//responsive

@media (max-width: 1300px) {
  .testimonials-box {
    width: 835px;
  }
}

@media (max-width: 900px) {
  .testimonials-box {
    width: 460px;
  }
}

@media (max-width: 510px) {
  .testimonials-box {
    .arrows {
      font-size: 1.4rem;
    }
    .slideshow {
      .testimonials-box-row {
        justify-content: start;
        .testimonials-shape {
          margin-right: 1rem;
          &-circle {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 453px) {
  .testimonials-box {
    .slideshow {
      margin: 0 0.8rem;
      .testimonials-box-row {
        .testimonials-shape {
          padding: 1rem 3rem;
          min-width: 302px;
          height: 210px;
          margin-right: 6.8rem;
          &-circle {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}
