.testimonials {
  background: rgba(181, 181, 181, 0.208);
  padding: 5rem 0;
  position: relative;
  &-title {
    @include primaryHeading;
  }

  &-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 99%;
    width: 1210px;

    .slideshow {
      height: 190px;
      margin: 0 2rem;
      overflow: hidden;
      .testimonials-box-row {
        display: flex;
        max-width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }

    .testimonials-shape {
      background: rgba(255, 255, 255, 0.801);
      border-radius: 5px;
      border: 1px solid rgba(128, 128, 128, 0.445);
      box-shadow: 2px 2px 2px $primary-color;
      height: auto;
      margin-right: 1.2rem;
      min-width: 360px;
      padding: 1rem;
      padding-left: 4rem;
      position: relative;
      transition: 0.3s;

      &-circle {
        clip-path: circle(50% at 50% 50%);
        float: left;
        height: 10rem;
        margin: 0;
        padding: 0;
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-2rem);
        width: 10rem;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &-text {
        height: 160px;

        h3 {
          margin: 0;
        }
      }
    }

    .arrows {
      font-size: 3rem;
      opacity: 50%;
      color: $quaternary-color;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        opacity: 100%;
        transform: scale(1.4);
      }
    }
  }
}

//responsive
@media (max-width: 1300px) {
  .testimonials-box {
    width: 835px;
  }
}

@media (max-width: 900px) {
  .testimonials-box {
    width: 460px;
  }
}

@media (max-width: 510px) {
  .testimonials-box {
    .arrows {
      font-size: 1.4rem;
    }
    .slideshow {
      .testimonials-box-row {
        justify-content: start;
        .testimonials-shape {
          margin-right: 1rem;
          &-circle {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 453px) {
  .testimonials-box {
    .slideshow {
      height: 235px;
      margin: 0 0.8rem;
      .testimonials-box-row {
        .testimonials-shape {
          height: 200px;
          margin-right: 6.8rem;
          min-width: 302px;
          padding: 1rem 3rem;

          &-circle {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }
}
