.divider {
  margin: 4rem 0 0rem 0;
  padding: 0;
}

/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

// sign
.sign {
  color: white;
  text-decoration: underline;
}
a {
  color: white;
  font-size: clamp(1rem, 1vw, 1.6rem);
}

// <p class="sign">
// Made with ❤️ by
// <a href="https://github.com/Widoguaiquirian">Luis Guaiquirian</a>
// </p>
