.header-profile {
  background-image: url(../images/people-3-large.jpg);
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center 40%;
  background-size: cover;
}

.main-profile {
  &-title {
    color: red;
    text-align: center;
  }

  &-form {
    width: 700px;
    max-width: 95%;
    margin: 0 auto;
  }
}
