.header-profile {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 102, 45, 0.3),
      hsla(350, 69%, 58%, 0.3)
    ),
    url(../images/people-3-large.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin: 0 auto;
  max-width: 3000px;
  overflow: hidden;
  position: relative;
}
