.section {
  background: rgba(181, 181, 181, 0.208);
  padding: 5rem 3rem;
  text-align: center;

  &-row {
    display: flex;
    padding: 2rem 0;

    &-block {
      text-align: justify;
      padding: 0 4rem;
      margin: 2rem 0;

      &-p {
        margin: 0;
      }

      &-p:not(:last-child) {
        margin-bottom: 3rem;
      }

      figure {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
}
